{% extends "blog/base.html" %}
{% block content %}
{% if posts %}
<h1>List of all posts</h1>
    <ul>
    {% for post in posts %}
        <li><a href="{% url 'detail-post' post.id %}">{{ post.title }}</a></li>
        <p>{{ post.content|truncatechars:100 }}</p>
    {% endfor %}
    </ul>
    {% if user.is_authenticated %}
    <button><a href="{% url 'new-post'%}">Create post</a></button>
    {% endif %}
{% else %}
    <p>No posts are available.</p>
    {% if user.is_authenticated %}
    <button><a href="{% url 'new-post'%}">Create post</a></button>
    {% endif %}
{% endif %}
{% endblock content %}